.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer_right {
  display: flex;
  align-items: center;
}

.footer_text {
  color: #939697;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.footer_right_text {
  color: #939697;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding-left: 80px;
}

.footer_right_text:nth-child(1) {
  padding-left: 0px;
}